:root {
  --primaryColor: rgb(6, 95, 107);
  --secondColor: teal;
  --thirdColor: rgb(143, 69, 143); 
  --fontColor: whitesmoke;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:  'Raleway', sans-serif;
    background-color: var(--primaryColor);
}

main {
  margin: 5% auto;
}

a, a:visited {
  text-decoration: none;
  color: var(--fontColor);
}

/* NAV SECTION */

header {
  margin: 5% auto;
}

nav li {
  cursor: pointer;
}

.my-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.my-name span:nth-child(1) {
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.list {
  list-style: none;
  margin-left: 10%;
  color: var(--fontColor);
}

/* ABOUT SECTION  */

.about {
  margin: 0 auto;
  padding: 3% 5% 0 5%;
  background-color: var(--secondColor);
}

.bio {
  background-color: var(--secondColor);
  margin: 0 auto;
  padding: 5% 5%;
  color: whitesmoke;
  line-height: 2rem;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
}

.centered {
  justify-content: center;
  align-items: center;
}

.space-a {
  justify-content: space-around;
  align-items: center;
}

.space-b {
  justify-content: space-between;
  align-items: center;
}

